
.main{
    margin: 0;
    padding: 0;
    background-color:rgb(0, 132, 255);
    color: white;
   
} 

 .about-1{

    width:450px;
    height: 650px;
    margin-top: 150px;
    margin-left: 250px;
    font-family: sans-serif;
 }
 .about-2{
    margin-left: 750px;
   
    width: 700px;
    height: 600px;
    position: absolute;
    top: 200px;
    font-family: sans-serif;

 }
 .about-1-1{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    

 }
 p{
    font-size: 25px;
    padding: 20px 0px 0px 0px;
    font-family: sans-serif;
 }

 .about-p{
    font-family: sans-serif;
    font-size: 20px;
 }
 .foter{
   
    display: flex;
    gap: 20px;
    
    
 }
 .foter-h{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 30px;
 }
 .foter-h:hover{
    cursor: pointer;
    color:black;
    transform: translateY(-5px);
 }
 .sign{
   width:400px;
   height: 100px;
   margin-left: -30px;

 }